.new-todo {
  position: fixed;
  display: table;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--dark-background);
  margin: 0%;
  top: 15px;
  right: 72px;
  user-select: none;
  z-index: 2;
}

.new-todo:hover {
  cursor: pointer;
}

.new-todo p{
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 900;
}