#toggler {
  display: none;
}

#sidebar {
  position: relative;
  background-color: var(--dark-background);
  min-width: 317px;
  height: 100%;
  transition-duration: 300ms;
  transition: min-width 300ms, visibility 300ms linear;
}

.hidden {
  min-width: 0px !important;
  visibility: hidden;
}

.burger {
  user-select: none;
  position: fixed;
  color: white;
  font-size: 40px;
  line-height: 40px;
  margin-left: 10px;
  margin-top: 15px;
}

.burger label:hover {
  cursor: pointer;
  color: var(--dark-background);
}