#toggler {
    display: none;
}

#sidebar {
    background-color: #D9D9D9;
    width: 317px;
    height: calc(100% - 70px);
    margin-top: 70px;
    transition-duration: 300ms;
}

.hidden {
    transform: translateX(-317px);
    transition-duration: 300ms;
}

.burger {
    user-select: none;
    position: fixed;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-top: 15px;
}

.burger label:hover {
    cursor: pointer;
    color: #D9D9D9;
}