#sidebar {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0;
  background-color: var(--dark-background);
  min-width: 380px;
  height: 100%;
  transition-duration: 300ms;
  transition: min-width 300ms, visibility 300ms linear;
}

#options {
  position: fixed;
  margin: 10px;
  width: 360px;
}

#filters {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.option {
  user-select: none;
  vertical-align: middle;
  text-align: center;
  flex-basis: 60px;
  margin: 0px;
  line-height: 60px;
  width: 360px;
  font-size: 20px;
  font-weight: 400;
}

.option:hover {
  cursor: pointer;
  background-color: #A0A0A0;
}

.hidden {
  min-width: 0 !important;
  width: 0;
  visibility: hidden;
}

#burger {
  position: fixed;
  user-select: none;
  color: white;
  font-size: 40px;
  line-height: 40px;
  left: 16px;
  top: 15px;
  width: 40px;
  z-index: 1;
}

#burger:hover {
  cursor: pointer;
}