#go-back {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 15px;
  left: 15px;
  font-size: 40px;
  line-height: 40px;
  color: white;
  z-index: 1;
}

#todo-edit {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
  min-height: calc(100% - 61px);
  width: min(860px, 80%);
  overflow: hidden;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin: 20px;
  justify-items: center;
}

#todo-edit h1 {
  margin: 40px 0px 20px 0px;
  font-size: 35px;
  font-weight: 400;
}

.todo-task {
  user-select: none;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.75);
  width: max(calc(100% - 70px), 300px);
  border-radius: 10px;
  margin-top: 16px;
  height: 64px;
}

.todo-task:hover {
  cursor: pointer;
  background-color: #F0F0F0;
}

.todo-task p{
  position: absolute;
  top: 12px;
  left: 96px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  max-width: calc(100% - 160px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox {
  position: absolute;
  top: calc(50% - 10px);
  left: 18px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  cursor: pointer;
  margin: 0;
}

.checkbox:checked {
  background-color: black;
}

.task-options {
  user-select: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  right: 20px;
  border-radius: 100%;
  text-align: center;
  z-index: 2;
}

.task-options p{
  position: static;
  transform: rotate(90deg);
  height: 40px;
  min-width: 40px;
  right: 0;
  margin: 0%;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.task-options:hover{
  cursor: pointer;
  background-color: var(--dark-background);
}

.new-task {
  user-select: none;
  position: relative;
  width: max(calc(100% - 70px), 300px);
  border-radius: 10px;
  margin-top: 16px;
  height: 64px;
  overflow: hidden;

  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, rgba(0, 0, 0, 0.75), white) border-box;
  border: 1px solid transparent;
  transition: height 300ms;
}

.new-task:hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--dark-background), white) padding-box ,
              linear-gradient(to right, rgba(0, 0, 0, 0.75), white) border-box !important;
}

.menu {
  height: 220px !important;
  border: 1px solid black !important;
}

.menu:hover {
  background: none !important;
  cursor: auto;
}

.menu > input {
  visibility: visible !important;
}

.menu > button {
  visibility: visible !important;
}

.new-task p {
  position: absolute;
  top: 12px;
  left: 96px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.new-task-submit {
  position: absolute;
  top: 15px;
  padding: 0;
  width: 30px;
  left: 13px;
  border: none;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.new-task-submit:hover {
  background-color: var(--dark-background);
}

.new-task-input {
  visibility: hidden;
  position: absolute;
  top: 44px;
  left: 96px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.new-task-input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.new-task-confirm {
  visibility: hidden;
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.5px;
  height: 48px;
  right: 20px;
  bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: #FFFFFF;
  width: 160px;
}

.new-task-cancel {
  visibility: hidden;
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.5px;
  height: 48px;
  right: 200px;
  bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 100px;
}

.new-task-confirm, .new-task-cancel:hover {
  cursor: pointer;
}