#go-back {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 15px;
  left: 15px;
  font-size: 40px;
  line-height: 40px;
  color: white;
  z-index: 1;
}

#todo-edit {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
  height: calc(100% - 41px);
  width: min(860px, 80%);
  overflow: hidden;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin: 20px;
  justify-items: center;
}

#todo-edit h1 {
  margin: 40px 0px 20px 0px;
  font-size: 35px;
  font-weight: 400;
}

.todo-task {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.75);
  width: max(calc(100% - 70px), 300px);
  border-radius: 10px;
  margin-top: 16px;
  height: 64px;
}

.todo-task p{
  position: absolute;
  top: 12px;
  left: 96px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.checkbox {
  position: absolute;
  top: calc(50% - 10px);
  left: 18px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  cursor: pointer;
  margin: 0;
}

.checkbox:checked {
  background-color: black;
}

.task-options {
  user-select: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  right: 20px;
  border-radius: 100%;
  text-align: center;
}

.task-options p{
  position: static;
  transform: rotate(90deg);
  height: 40px;
  width: 40px;
  right: 0;
  margin: 0%;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.task-options:hover{
  cursor: pointer;
  background-color: var(--dark-background);
}

.new-task-submit {
  position: absolute;
  top: calc(50% - 15px);
  padding: 0;
  width: 30px;
  left: 13px;
  border: none;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.new-task-submit:hover {
  background-color: var(--dark-background);
}

.new-task-input {
  position: absolute;
  bottom: 4px;
  left: 96px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  border: none;
}

.new-task-input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.add-task {
  top: 4px !important;
}
