.user {
  position: fixed;
  display: table;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--dark-background);
  margin: 0%;
  top: 15px;
  right: 16px;
  user-select: none;
  z-index: 2;
}

.user:hover {
  cursor: pointer;
}

.user p{
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
}