:root{
  --light-background: #FFFFFF;
  --dark-background: #D9D9D9;
  --dark-font: #404040;
}

html, body {
  display: flex;
  margin: 0;
  min-height: 100%;
  width: 100%;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#top-bar {
  position: relative;
  user-select: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #71787C;
  text-align: center;
  z-index: 1;
}

#top-bar h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  width: min-content;
  font-weight: 400;
  font-size: 30px;
  line-height: 40.85px;
  color: white;
}

#top-bar h1:hover {
  cursor: pointer;
}

#root {
  display: flex;
  width: 100%;
  margin-top: 70px;
  align-items: flex-start;
}