html, body {
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #71787C;
  text-align: center;
}

header h1 {
  margin-top: 16px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 400;
  font-size: 30px;
  line-height: 40.85px;
  color: #FFFFFF;
}
