#sidebar {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0;
  background-color: var(--dark-background);
  min-width: 380px;
  height: 100%;
  transition-duration: 300ms !important;
  transition: min-width 300ms, visibility 300ms linear !important;
}

#options {
  position: fixed;
  margin: 10px;
  min-width: 360px;
  transition-duration: 200ms !important;
  transition: min-width 300ms, visibility 100ms linear !important;
}

.options {
  background-color: #E0E0E0;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.option:hover {
  background-color: #B0B0B0;
}

.title {
  background-color: #B0B0B0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  flex-basis: 60px;
  margin: 0px;
  line-height: 60px;
  min-width: 100%;
  font-size: 20px;
  font-weight: 400;
}

.title:hover {
  background-color: #B0B0B0;
}

.option {
  user-select: none;
  vertical-align: middle;
  text-align: center;
  flex-basis: 60px;
  margin: 0px;
  line-height: 60px;
  min-width: 100%;
  font-size: 20px;
  font-weight: 400;
  max-height: 60px;
  transition: max-height 100ms, visibility 50ms linear;
}

.option:hover {
  cursor: pointer;
  background-color: #C0C0C0;
}

.hidden {
  min-width: 0 !important;
  width: 0 !important;
  visibility: hidden !important;
}

#burger {
  position: fixed;
  user-select: none;
  color: white;
  font-size: 40px;
  line-height: 40px;
  left: 16px;
  top: 15px;
  width: 40px;
  z-index: 1;
}

#burger:hover {
  cursor: pointer;
}

.hide {
  background-color: transparent !important;
}

.hide > .title {
  background-color: #D0D0D0;
}
.hide > .title:hover {
  background-color: #B0B0B0;
}

.hide > p {
  max-height: 0px !important;
  visibility: hidden;
}